<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Version" value="1" />
    <add key="CryptoKeyseed" value="95279527" />
    <add key="LogSource" value="PrinterAgent" />
    <add key="JsonpCallbackName" value="callback" />
    <add key="HttpEndpoint" value="http://localhost:39527/printer/" />
    <add key="TemplateEndpoint" value="http://hft.opengascloud.com/" />
    <add key="TemplatePath" value="static/grf/" />
    <add key="TemplateExtension" value=".grf" />
    <add key="ChromePath" value ="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" />
    <add key="ChromeParameter" value="--allow-running-insecure-content http://hft.opengascloud.com" />
  </appSettings>
</configuration>