<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CryptoKeyseed" value="95279527" />
    <add key="LogSource" value="PrinterAgent" />
    <add key="JsonpCallbackName" value="callback" />
    <add key="HttpEndpoint" value="http://localhost:39527/printer/" />
    <add key="TemplateEndpoint" value="http://localhost/" />
    <add key="TemplatePath" value="tpl/" />
    <add key="TemplateExtension" value=".grf" />
  </appSettings>
</configuration>